<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <style>
        .main {
            width: 1000px;
            background-color: skyblue;
            color: black;
            padding; 20px;
            font-size:50px;
        }
    </style>
</head>
<body>
    {% for n in CList %}
    {% comment %} <div>{{n}}</div> <!---- लिस्ट  प्रिंट करेल--> {% endcomment %}
    <div>{{forloop.counter}}{{n}}</div>  <!--op च्या पहिलं index  num येतोय -->
    


    {% endfor %}
</body>
</html>
