<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <style>
        .main {
            width: 1000px;
            background-color: skyblue;
            color: black;
            padding; 20px;
            font-size:50px;
        }
    </style>
</head>
<body>
    {% comment %} {% for n in CList %} {% endcomment %}
    {% comment %} <div>{{n}}</div> <!---- लिस्ट  प्रिंट करेल--> {% endcomment %}
    {% comment %} {% if n > 20%} {% endcomment %}
    {% comment %} <div>{{forloop.counter}}{{n}}</div> {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}
    {% comment %} {% endfor %} {% endcomment %}


</body>
</html>
